.container{
    display: flex;

}
.img_left{

    width: 40%;
}
.image{
width: 100%;
}
.img_right{
    width: 60%;
   /*background-image: url("https://img.freepik.com/premium-vector/abstract-modern-white-grey-background-texture-chaotic-polygonal-surface-background-design_266639-1401.jpg?w=740");*/
   background-image: url("https://img.freepik.com/premium-vector/abstract-modern-white-grey-background-texture-chaotic-polygonal-surface-background-design_266639-1403.jpg?w=2000");
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.input_box{
    border: 2px solid gray;
   display: flex;
    padding: 4px;
    width: 300px;
    
    border-radius: 0.3rem;

}

.input_item{
    
  margin: 8px;
  width:250px;
  padding: 4px;
  background: none;
  
  color: #757575;
}
.input_num{
    font-weight: bold;
    margin: auto;;
}
.text{
  width: 85%;
  margin-top: 20px; 
  text-align: center;
  color: gray;
}
.otp_btn{
   
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 0.4rem;
   margin: '10px';
}
.dotted_line{
    border-top: 1px dashed black;
    width: 85%;
   margin-top: 40px;
}
.hi_image{
    margin: 10px;
}
.logininput{
    margin: 10px;
}