.navmain{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  
}

.sugarlogo{
   width: 15%;
}
.sugarnavtop{
    background-color: black;
    padding: 10px;
    
}
.sugarlogoimg{
padding: 5px 20px;

}
.searchtop{
    width:45%;
    align-self: center;
    margin-left: 10px;
}
.searchtop2{
    width:35%;
    align-self: center;
    margin-left: 10px;
    display: none;
}
.loginregister{
   width: 30%;
   align-self: center;
  display: flex;
  align-items: center;
justify-content: center;
gap: 6px;

}

.icongroup{
    display: flex ;
    align-items: center;
justify-content: center;
}
.quantityNum{
    background-color: #fc2779;
    position: absolute;
    top: 20px;
    right:75px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  
}
.quantityNum p{
    font-size: 10px;
    font-weight: 600;
}
.menu{
    width:'6%';
    display: none;

}
@media screen and (min-width: 786px) and (max-width: 1024px){
 
  .quantityNum{
    right:40px
  }
}


@media screen and (min-width: 480px) and (max-width: 785px) {
  .searchtop{
    display: none;
  }
  .searchtop2{
   display: block;
  }
  .sugarlogo{
    width:25%
  }
  .quantityNum{
   
    right:40px;
   
  
}


}
@media screen  and (max-width: 479px) {
    .searchtop{
        display: none;
      }
      .searchtop2{
       display: block;
      }
      .loginregister{
        display: none;
      }
      .sugarlogo{
        width: 40%;
      }
      .menu {
        display: block;
      }
      .quantityNum{
   
        right:40px;
       
      
    }

}